:root {
    --primary-green: 	36, 156, 90;
    --primary-bg-gray: 229, 227, 227;
    --primary-blue: 24, 108, 234;
    --dark-gray: 77, 77, 77;
}

body {
    margin: 0;
    font-family: 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    height: 100vh;
}

h1 {
    font-size: 2em;
    font-weight: 600;
}

p {
    font-size: 1.25em;
}

input {
    width: 100%;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    border: 1px solid #d1d5db;
}

button {
    padding: 0.5rem 1.25rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.1s;
}